---
import { motion } from "framer-motion";
import { Footer } from "../components/Footer.tsx";
import { Header } from "../components/Header.tsx";
const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>
        <style>
            @keyframes gradientAnimation {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            .animated-gradient {
                background: linear-gradient(-45deg, #8B5CF6, #3B82F6, #6366F1, #A78BFA);
                background-size: 400% 400%;
                animation: gradientAnimation 15s ease-in-out infinite;
            }
        </style>
    </head>
    <body class="flex justify-center items-start min-h-screen min-w-fit pt-10 animated-gradient">
        <motion.div className="w-[150vmin] h-[90vmin] flex flex-col bg-white/80 backdrop-blur-sm shadow-lg">
            <Header/>
            <article class="flex-grow overflow-auto p-4">
                <slot />
            </article>
            <Footer client:only="react"/>
        </motion.div>
    </body>
</html>
