---
import { motion } from "framer-motion";
import { Footer } from "../components/Footer.tsx";
import { Header } from "../components/Header.tsx";
const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>
    </head>
    <body class="flex justify-center items-start min-h-screen min-w-fit bg-gray-100 pt-10">
        <motion.div className="w-[150vmin] h-[90vmin] flex flex-col bg-white shadow-lg ">
            <Header/>
            <article class="flex-grow overflow-auto p-4 bg-amber-200">
                <slot />
            </article>
            <Footer/>
        </motion.div>
    </body>
</html>
